@import "/styles/mixins";
@import "/styles/variables";

.innerContainer {
  @include flexy($dir: column, $algn: stretch);
  width: 100%;
  height: 95%;
  overflow: hidden;
  padding: 1.5rem;
  @media (min-width: 590px) {
    padding-top: 2.5rem !important;
  }
}
.navButton {
  display: none;
  @media (min-width: 590px) {
    display: block;
    position: absolute;
    top: 10px;
  }
  p {
    --strike: 0;
    transition: background-size 0.5s ease;
    background: linear-gradient(90deg, transparent, $clr-warning 0) no-repeat
      right bottom / calc(#{var(--strike)} * 100%) 0.1em;
    &:hover {
      color: $clr-warning;
      --strike: 1;
      background-position-x: left;
    }
  }
}
.header {
  position: relative;
  @include flexy($just: space-between, $algn: center, $dir: column);
  gap: 1rem;
  .titleWrapper {
    @include flexy($dir: row, $algn: bottom);
    button {
      margin-left: 0.5rem;
    }
    div {
      z-index: 6;
    }
    h1 {
      padding: 0;
    }
  }
  .buttonWrapper div {
    z-index: 5;
  }
  @media (min-width: 590px) {
    flex-direction: row;
  }
}
.projectDescription {
  padding: 1rem 0;
}
.taskList {
  height: 100%;
  overflow: scroll;
}
