@import '../styles/mixins';

.formWrapper {
  width: 100%;
  min-width: 260px;
  padding: 1rem;
  & > div {
    text-align: center;
  }
}
.form {
  padding: 1rem 0;
  margin-top: 1.5rem;
  width: 100%;
  .nameField {
    @include flexy($just: space-between);
    margin-bottom: 1.5rem;
    & > .nameWrapper {
      width: 48%;
    }
  }
  .fieldWrapper {
    margin-bottom: 1.5rem;
  }
  .inputLabel {
    margin: 0 0 0.4rem 0.4rem;
  }
  .linkWrapper {
    @include flexy($just: space-between, $algn: center);
    padding-top: .75rem;
    p {
      color: blue;
    }
    button {
      margin: 0;
    }
  }
}
