.formWrapper {
  width: 100%;
  min-width: 300px;
  & > div {
    text-align: center;
    h2 {
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 1.1em;
      color: black;
    }
  }
}
.form {
  padding: 1.2rem 0;
  width: 100%;
  .fieldWrapper {
    margin-bottom: 1.5rem;
    justify-content: space-between;
    & > .nameWrapper {
      width: 48%;
    }
  }
  .inputLabel {
    font-size: .8rem;
    margin: 0 0 0.6rem 0.4rem;
  }
  .linkWrapper {
    justify-content: space-between;
    padding: .8rem 0;
    span {
      font-weight: bold;
      font-size: .9rem;
    }
  }
}
