@import "/styles/variables";
@import "/styles/mixins";

.table {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  thead {
    position: sticky;
    z-index: 1;
    top: 0;
    th {
      padding: 0.5rem;
      background-color: rgba(#e1efe9, 0.85);
      backdrop-filter: blur(6px) saturate(180%);
      border: 1px solid lighten($clr-muted, 80%);
      border-left: none;
      border-right: none;
      @include font-size($bodyS-font-sizes);
      &:first-child {
        width: 40%;
      }
    }
  }
}
.item {
  align-items: center;
  transition: background-color 0.25s ease-out;
  &:hover {
    background-color: rgba($clr-bg, 0.67);
  }
  td {
    cursor: pointer;
    padding: 0.5rem;
    &.taskName::before {
      content: "\25BE";
      padding-right: 10px;
      color: $clr-muted;
    }
  }
}
.inputWrapper input,
.dropdown {
  margin-top: 0.5rem;
}

.taskDescription {
  text-align: center;
  height: 0;
  visibility: hidden;
  div:first-child {
    opacity: 0;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    transform: translateY(-20px);
    height: 0px;
  }
  div {
    margin-top: 0.8rem;
    p {
      padding: 1rem 0;
    }
    input {
      margin: 0.8rem 0;
      width: 100%;
    }
  }
  &.show {
    visibility: visible;
    height: 100%;
    div:first-child {
      opacity: 1;
      transform: translateY(0px);
      height: 150px;
    }
  }
}
.dropdown {
  border: 1px solid rgb(159, 155, 159);
  border-radius: 0.5rem;
  font-size: 0.9rem;
  transition: background-color 0.2s ease-in-out;
  select {
    border: none;
    background-color: transparent;
    width: 97%;
    height: 100%;
    padding: 0.6rem 0.6rem;
  }
}

.buttonWrapper {
  width: 100%;
  @include flexy($just: center, $algn: center);
  gap: 2rem;
  button {
    margin: 0;
  }
}
.modal {
  position: relative;
  z-index: 2 !important;
}
