@import "/styles/mixins";
@import "/styles/variables";
.listContainer {
  overflow: scroll;
  width: 100%;
}

.projectDescription {
  padding: 1rem 0;
}
.table {
  width: 100%;
  text-align: left;
  margin-top: 1rem;
  thead th {
    padding-bottom: 1rem;
    @include font-size($bodyS-font-sizes);
  }
}
