@import "/styles/mixins";
@import "/styles/variables";

.card {
  border-radius: 1.3rem;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.55);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  &.sidebar {
    height: 100%;
    width: 9rem;
    min-height: 300px;
    @include flexy(
      $dir: column,
      $algn: center,
      $just: space-between,
      $wrap: wrap
    );
  }
  &.greetings {
    @include flexy($just: space-between);
    position: relative;
    width: 100%;
    height: 100%;
    .greetings-text {
      text-align: center;
      width: 100%;
      @media (min-width: 768px) {
        text-align: left;
        width: 50%;
      }
    }
    .greetings-banner {
      opacity: 0;
      transition: opacity 0.6s ease-out;
      @media (min-width: 768px) {
        opacity: 1;
        position: absolute;
        right: 0;
        height: 100%;
        width: 60%;
        background-image: url("../../assets/Saly-10.webP");
        background-repeat: no-repeat;
        background-size: 240px, auto;
        background-position: right;
      }
    }
  }
  &.skeleton-card {
    margin: 0 1rem;
  }
  &.modal {
    @include flexy($algn: center, $just: center, $dir: column);
    background-color: $clr-bg;
    gap: 1.5em;
    width: 50%;
    min-width: 350px;
    max-width: 450px;
    height: 75%;
    word-wrap: break-all;
    position: absolute;
    opacity: 0;
    bottom: -200%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 3.5rem 2.8rem;
    border-radius: 1em;
    transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
    &.open {
      opacity: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &.small-card {
      height: 230px;
    }
  }
  &.task {
    padding-top: 3rem;
    height: 100%;
    max-height: 250px;
    position: relative;
  }
  &.smallScreen {
    max-height: 250px;
  }
}
