.card {
  border-radius: 1.3rem;
  padding: 1rem 2.5rem;
  background-color: rgba(255, 255, 255, .5);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  &.sidebar {
    height: 100%;
    width: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}