@import "/styles/variables";
@import "/styles/mixins";

.containerDiv {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  border-radius: 2rem;
  background-color: rgba($clr-body, 0.3);
  width: 100%;
  height: 100%;
  z-index: 20;
  left: 0;
  top: 0;
  transition: all 0.2s ease-in-out;
  &.open {
    visibility: visible;
    opacity: 1;
  }
}
.span {
  position: absolute;
  right: 10px;
  top: 10px;
  button {
    @include font-size($h3-font-sizes);
  }
}
.form {
  width: 80%;
  @include flexy($dir: column, $just: space-between);
  gap: 1rem;
  .description {
    height: 3rem;
  }
  button {
    margin-top: 1.3rem;
  }
  .dueDate {
    @include flexy($dir: column, $just: center, $algn: center);
    width: 100%;
    p {
      padding: 1rem 0;
    }
  }
}
