.container {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  padding: 0 1em;
  .innerContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: stretch;
    justify-content: center;
    min-height: fit-content;
  }
  .greetings {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .project {
    display: flex;
    flex-grow: 2;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    div {
      width: 33.3333%;
      padding: 1rem;
    }
  }
  .task {
    margin-top: 2rem;
    flex-grow: 2;
    width: 100%;
  }
}
