.skeleton {
  background-color: rgb(188, 188, 188);
  margin: 1rem 0;
  border-radius: .5rem;
  &.title {
    height: 1.25rem;
    margin-bottom: 1rem;
  }
  &.text {
    height: 0.75rem;
  }
  &.button {
    height: 1.25rem;
  }
  &.width-100 {
    width: 100%;
  }
  &.width-50 {
    width: 50%;
  }
}

@keyframes pulse {
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}