
// colors
$clr-bg: #f4fbfb;
$clr-body: #2e2e36;
$clr-body-light: lighten($clr-body, 30%);
$clr-accent: #6d5ceb;
$clr-warning: #e44f45;
$clr-muted: #858585;

// font size

$h1-font-sizes: (
  null : 22px,
  768px: 25px
);
$h2-font-sizes: (
  null:20px,
  768px: 22px,
);
$h3-font-sizes: (
  null: 16px,
  768px: 18px
);
$bodyS-font-sizes: (
  null: 14px,
  768px: 16px,
);
$bodyXS-font-sizes: (
  null: 12px,
  768px: 13px,
);
